*#*#
*~

# outline files
docs/build
*install.sh
*aws-saving
outfile

# Serverless
.serverless
node_modules
package-lock.json

# Sceptre
*.rej
hooks
resolvers

# SAM
.aws-sam

# package
*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# typeScript
dist
*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.*.json
